In [115]:
%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [116]:
import pandas as pd
import json
import os
import pprint

from urllib.request import urlopen

import matplotlib.pyplot as plt

import plotly.express as px


import dash
import dash_html_components as html

from tqdm import notebook

import plotly.offline as pyo

pp = pprint.PrettyPrinter()

In [117]:
original_data = pd.read_csv("DE1_0_2008_Beneficiary_Summary_File_Sample_1.csv")
original_data.shape

(116352, 32)

In [118]:
original_data["sex"] = original_data.BENE_SEX_IDENT_CD.replace(
    [1, 2], ["Male", "Female"]
)
original_data["race"] = original_data.BENE_RACE_CD.replace(
    [1, 2, 3, 5], ["White", "Black", "Other", "Hispanic"]
)

original_data[
    [col for col in original_data.columns if "SP_" == str(col[:3])]
] = original_data[
    [col for col in original_data.columns if "SP_" == str(col[:3])]
].replace(
    2, 0
)


original_data["state"] = original_data.SP_STATE_CODE.replace(
    list(range(1, 55)),
    [
        "AL",
        "AK",
        "AZ",
        "AR",
        "CA",
        "CO",
        "CT",
        "DE",
        "DC",
        "FL",
        "GA",
        "HI",
        "ID",
        "IL",
        "IN",
        "IA",
        "KS",
        "KY",
        "LA",
        "ME",
        "MD",
        "MA",
        "MI",
        "MN",
        "MS",
        "MO",
        "MT",
        "NE",
        "NV",
        "NH",
        "NJ",
        "NM",
        "NY",
        "NC",
        "ND",
        "OH",
        "OK",
        "OR",
        "PA",
        "",
        "RI",
        "SC",
        "SD",
        "TN",
        "TX",
        "UT",
        "VT",
        "",
        "VA",
        "WA",
        "WV",
        "WI",
        "WY",
        "Other",
    ],
)

original_data["ssa"] = original_data.apply(
    lambda row: str(row["SP_STATE_CODE"]).zfill(2)
    + str(row["BENE_COUNTY_CD"]).zfill(3),
    axis=1,
)


payment_columns = [
    "MEDREIMB_IP",
    "BENRES_IP",
    "PPPYMT_IP",
    "MEDREIMB_OP",
    "BENRES_OP",
    "PPPYMT_OP",
    "MEDREIMB_CAR",
    "BENRES_CAR",
    "PPPYMT_CAR",
]
original_data["Total Expense"] = original_data[payment_columns].sum(axis=1)

In [119]:
original_data

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR,sex,race,state,ssa,Total Expense
0,00013D2EFD8E45D1,19230501,NaN,1,1,0,26,950,12,12,...,10,0,0,0,0,Male,White,MO,26950,60
1,00016F745862898F,19430101,NaN,1,1,0,39,230,12,12,...,0,0,700,240,0,Male,White,PA,39230,940
2,0001FDD721E223DC,19360901,NaN,2,1,0,39,280,12,12,...,0,0,0,0,0,Female,White,PA,39280,0
3,00021CA6FF03E670,19410601,NaN,1,5,0,6,290,0,0,...,0,0,0,0,0,Male,Hispanic,CO,06290,0
4,00024B3D2352D2D0,19360801,NaN,1,1,0,52,590,12,12,...,40,0,220,80,0,Male,White,WI,52590,370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116347,FFFD7C464C94D136,19430701,NaN,2,1,0,54,0,12,12,...,0,0,0,0,0,Female,White,Other,54000,0
116348,FFFE3ED9582AD46E,19160601,NaN,2,1,0,6,150,12,12,...,780,0,1370,350,0,Female,White,CO,06150,4070
116349,FFFE7AB5D7F1725D,19390401,NaN,2,1,0,23,490,12,12,...,0,0,0,0,0,Female,White,MI,23490,0
116350,FFFF29A2E1362059,19110701,NaN,1,1,0,29,20,0,12,...,0,0,0,0,0,Male,White,NV,29020,0
116351,FFFF7C107A4E385A,19520401,NaN,2,1,0,21,20,12,12,...,1260,0,3280,910,0,Female,White,MD,21020,8320

In [120]:
ssa_to_fips = pd.read_excel("geo_info.xlsx")
ssa_to_fips["ssacd"] = ssa_to_fips["ssacd"].apply(lambda x: str(x).zfill(5))
ssa_to_fips["fipscd"] = ssa_to_fips["fipscd"].apply(lambda x: str(x).zfill(5))

ssa_to_fips.head()

    county state  ssacd fipscd    CBSA               CBSA Name Unnamed: 6
0  AUTAUGA    AL  01000  01001  33860.0         Montgomery, AL        NaN
1  BALDWIN    AL  01010  01003      NaN                    NaN        NaN
2  BARBOUR    AL  01020  01005      NaN                    NaN        NaN
3     BIBB    AL  01030  01007  13820.0  Birmingham-Hoover, AL        NaN
4   BLOUNT    AL  01040  01009  13820.0  Birmingham-Hoover, AL        NaN

In [121]:
df = pd.merge(original_data, ssa_to_fips, left_on="ssa", right_on="ssacd")
df.shape

(114459, 44)

In [122]:
df.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,state_x,ssa,Total Expense,county,state_y,ssacd,fipscd,CBSA,CBSA Name,Unnamed: 6
0,00013D2EFD8E45D1,19230501,NaN,1,1,0,26,950,12,12,...,MO,26950,60,ST. LOUIS CITY,MO,26950,29510,41180.0,"St. Louis, MO-IL",NaN
1,0696731899C01DFE,19470301,NaN,2,1,Y,26,950,12,12,...,MO,26950,40028,ST. LOUIS CITY,MO,26950,29510,41180.0,"St. Louis, MO-IL",NaN
2,0AEF34C3184D3B77,19811001,NaN,2,1,0,26,950,12,12,...,MO,26950,250,ST. LOUIS CITY,MO,26950,29510,41180.0,"St. Louis, MO-IL",NaN
3,0BE2D12CF2858F0B,19391101,NaN,1,1,0,26,950,12,12,...,MO,26950,1610,ST. LOUIS CITY,MO,26950,29510,41180.0,"St. Louis, MO-IL",NaN
4,102EC9263227EF16,19770701,NaN,2,1,0,26,950,12,12,...,MO,26950,4430,ST. LOUIS CITY,MO,26950,29510,41180.0,"St. Louis, MO-IL",NaN

In [123]:
# df.to_excel("Synpuf/clean.xlsx", index=False)

In [124]:
condition_cols = [
    col for col in df.columns if "SP_" == str(col[:3]) and "STATE" not in col
]

melted_df = pd.melt(
    df,
    id_vars=[
        "DESYNPUF_ID",
        "fipscd",
        "sex",
        "race",
        "county",
        "state_y",
        "Total Expense",
    ],
    value_vars=condition_cols,
    var_name="Field",
    value_name="Count",
)

conditions_by_county = pd.DataFrame(
    melted_df.groupby(["fipscd", "county", "state_y", "sex", "race", "Field"]).agg(
        {"Count": [sum, len], "Total Expense": sum}
    )
)

conditions_by_county.reset_index(inplace=True)

conditions_by_county.columns = [
    "fipscd",
    "County",
    "State",
    "Sex",
    "Race",
    "Field",
    "Cases",
    "Patients",
    "Total Expense",
]

conditions_by_county_all = pd.DataFrame(
    melted_df.groupby(["fipscd", "county", "state_y", "sex", "race"]).agg(
        {"Count": [sum, len], "Total Expense": sum}
    )
).reset_index()
conditions_by_county_all["Field"] = "All"
conditions_by_county_all.columns = [
    "fipscd",
    "County",
    "State",
    "Sex",
    "Race",
    "Cases",
    "Patients",
    "Total Expense",
    "Field",
]
conditions_by_county_all = conditions_by_county_all[conditions_by_county.columns]


conditions_by_county = pd.concat([conditions_by_county_all, conditions_by_county])


conditions_by_county.head()

  fipscd   County State     Sex   Race Field  Cases  Patients  Total Expense
0  01001  AUTAUGA    AL  Female  Black   All      0        33            550
1  01001  AUTAUGA    AL  Female  White   All     10        66         236588
2  01001  AUTAUGA    AL    Male  Black   All      7        44         118140
3  01001  AUTAUGA    AL    Male  Other   All      5        11          16500
4  01001  AUTAUGA    AL    Male  White   All     42        99         645832

In [72]:
conditions_by_county.Race.unique()

array(['Black', 'White', 'Other', 'Hispanic'], dtype=object)

In [73]:
conditions_by_county.shape

(116798, 8)

In [74]:
conditions_by_county[
    (conditions_by_county.State == "CA")
    & (conditions_by_county.Field == "SP_DEPRESSN")
    & (conditions_by_county.Race == "Black")
]

      fipscd   County State     Sex   Race        Field  Cases  Patients
6957   06001  ALAMEDA    CA  Female  Black  SP_DEPRESSN      3        21
7001   06001  ALAMEDA    CA    Male  Black  SP_DEPRESSN      0        13
7067   06005   AMADOR    CA    Male  Black  SP_DEPRESSN      1         1
7111   06007    BUTTE    CA  Female  Black  SP_DEPRESSN      0         2
7155   06007    BUTTE    CA    Male  Black  SP_DEPRESSN      0         1
...      ...      ...   ...     ...    ...          ...    ...       ...
10774  06111  VENTURA    CA  Female  Black  SP_DEPRESSN      0         9
10818  06111  VENTURA    CA    Male  Black  SP_DEPRESSN      4         9
10862  06113     YOLO    CA  Female  Black  SP_DEPRESSN      0         2
10906  06113     YOLO    CA    Male  Black  SP_DEPRESSN      0         2
10983  06115     YUBA    CA    Male  Black  SP_DEPRESSN      0         2

[87 rows x 8 columns]

In [125]:
conditions_by_county.to_csv("agg.csv")

In [11]:
with urlopen(
    "https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json"
) as response:
    counties = json.load(response)
    with open('counties.json', 'w') as outfile:
        json.dump(counties, outfile)